:root {
  /* 字體設定 */
  --my-font-family-primary: "Noto Sans TC", sans-serif;

  /* 字體大小層級 */
  --my-font-size-xs: 0.75rem; /* 12px */
  --my-font-size-sm: 0.875rem; /* 14px */
  --my-font-size-md: 1rem; /* 16px - 基準大小 */
  --my-font-size-lg: 1.125rem; /* 18px */
  --my-font-size-xl: 1.25rem; /* 20px */
  --my-font-size-2xl: 1.5rem; /* 24px */
  --my-font-size-3xl: 1.875rem; /* 30px */
  --my-font-size-4xl: 2.25rem; /* 36px */

  /* 字寬 */
  --my-letter-spacing-md: 1.2px;
  --my-letter-spacing-lg: 2.4px;

  /* 字重 */
  --my-font-weight-xs: 200;
  --my-font-weight-sm: 300;
  --my-font-weight-md: 400;
  --my-font-weight-lg: 500;
  --my-font-weight-xl: 600;

  /* Gray 層級顏色 */
  --my-color-white: #ffffff;
  --my-color-gray-50: #fafafa;
  --my-color-gray-100: #f5f5f5;
  --my-color-gray-200: #eeeeee;
  --my-color-gray-300: #e0e0e0;
  --my-color-gray-400: #bdbdbd;
  --my-color-gray-500: #9e9e9e;
  --my-color-gray-600: #757575;
  --my-color-gray-700: #616161;
  --my-color-gray-800: #424242;
  --my-color-gray-900: #212121;
  --my-color-black: #000000;

  /* 圖層顏色，按 RGB 順序排列 */
  --my-color-red: #f44336;
  --my-color-red-hover: #d32f2f;

  --my-color-pink: #e91e63;
  --my-color-pink-hover: #c2185b;

  --my-color-deeporange: #ff5722;
  --my-color-deeporange-hover: #e64a19;

  --my-color-orange: #ff9800;
  --my-color-orange-hover: #f57c00;

  --my-color-amber: #ffc107;
  --my-color-amber-hover: #ffa000;

  --my-color-yellow: #ffeb3b;
  --my-color-yellow-hover: #fbc02d;

  --my-color-lime: #cddc39;
  --my-color-lime-hover: #afb42b;

  --my-color-light-green: #8bc34a;
  --my-color-light-green-hover: #689f38;

  --my-color-green: #4caf50;
  --my-color-green-hover: #388e3c;

  --my-color-teal: #009688;
  --my-color-teal-hover: #00796b;

  --my-color-cyan: #00bcd4;
  --my-color-cyan-hover: #0097a7;

  --my-color-lightblue: #03a9f4;
  --my-color-lightblue-hover: #0288d1;

  --my-color-blue: #2196f3;
  --my-color-blue-hover: #1976d2;

  --my-color-bluegrey: #607d8b;
  --my-color-bluegrey-hover: #455a64;

  --my-color-indigo: #3f51b5;
  --my-color-indigo-hover: #303f9f;

  --my-color-deeppurple: #673ab7;
  --my-color-deeppurple-hover: #512da8;

  --my-color-purple: #9c27b0;
  --my-color-purple-hover: #7b1fa2;

  --my-color-brown: #795548;
  --my-color-brown-hover: #5d4037;
}
